<section class="info-container">
    <img class="section-header rsvp" src="assets/WeddingInviteHeadings3.svg">

    <div class="content-container">
        <div class="content">
            <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSe9AJg8kBQAHQ3uQ7-B0yLTlr7_yxKNOI6xfuoALrkLiuYeDQ/viewform?embedded=true" width="640" height="1418" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
        </div>

        <img class="decor rsvp-decor" src="assets/e3.svg">

    </div>
</section>