<div id="rsvp"></div>
<section class="info-container">
    <img class="section-header" src="assets/WeddingInviteHeadings3.svg">

    <div class="content-container">
        <div class="content">
            <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSdBd1YEvpyUlCDGk_VR5VS7C-m5kzYJK08mH2wD_NLZYW7REw/viewform?embedded=true" width="640" height="414" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
        </div>

        <img class="decor rsvp-decor" src="assets/e3.svg">

    </div>
</section>