<div id="maps">...</div>

<section class="info-container">
    <img class="section-header" src="../../../../assets/WeddingInviteHeadings2.svg">

    <div class="content-container">
        <div class="content">
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d13342.60669736905!2d19.1115621!3d-33.2756103!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1dcd3fd715d7600b%3A0xa33a0cdad99d2c03!2sMontpellier%20Wine%20Estate!5e0!3m2!1sen!2sza!4v1686217914152!5m2!1sen!2sza" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            <a href="https://goo.gl/maps/NZrKAUsxAXEbpHyQ7">Montpellier Google Maps</a>
        </div>

        <img class="decor map-decor" src="../../../../assets/e1.svg">
    </div>
</section>