<div class="navbar-container">
    <img class="logo" src="assets/WeddingLogo.svg">

    <div class="menu-container">
        <ul class="menu-list">
            <li class="menu-list-item"><a (click)="onClick('home')">Info</a></li>

            <li class="menu-list-item"><a (click)="onClick('maps')">Map</a></li>

            <li class="menu-list-item"><a (click)="onClick('rsvp')">RSVP</a></li>
        </ul>
    </div>
</div>

<section class="hero-img">
    <img class="header-img" src="assets/ash&dazz.png">
    <div id="home"></div>
</section>

<section class="info-container">
    <img class="section-header" src="assets/WeddingInviteHeadings1.svg">
    <div class="content-container">
        <div class="content details">
            <p>We are delighted to invite you to the wedding weekend of</p>
            <h3 class="darianAsh">Darian & Ashleigh</h3>
            <p>13 - 15 October 2023</p>
            <p>
                Montpellier, Tulbagh
                <br/>
                33°16'29.1″S 19°06'59.8″E
            </p>
            <h3>Details:</h3>
            <p>
                We have carefully planned an unforgettable weekend filled with joy, laughter, and cherished memories.
                <br/>
                <br/>
                To kick off the festivities, we invite you to join us on Friday for pre-wedding drinks and casual dinner (which will be either pizza or a burger braai). 
                <br/>
                This will be the perfect opportunity to mingle with loved ones, relax, and toast to the joyous celebration ahead. Please note this will be for your own account.
                <br/>
                <br/>
                On Saturday, the main event unfolds with our ceremony beginning promptly at 15h00. 
                <br/>
                Following the ceremony, a delightful reception awaits, where we will dine and dance.
                <br/>
                Throughout the evening, a cash bar with card facilities will be available to cater to your refreshment needs.
                <br/>
                <br/>
                For your convenience, accommodation is available on the farm for our guests. Considering that we have exclusive use of the venue, 
                <br/>
                we kindly request that you consider the options provided in the available <a target="_blank" href="https://docs.google.com/spreadsheets/d/1Hc24Avog1ubAUlfA-QEvzPFQTpTZ0MhN/edit?usp=sharing&ouid=113387008460397970929&rtpof=true&sd=true">spreadsheet</a>, please see <a href="https://drive.google.com/file/d/11qalcYKiNsCJHwKFUSESgtloUGxePUfP/view?usp=sharing" target="_blank">siteplan</a> to assist you, 
                <br/>
                allowing you to fully immerse yourself in the celebration and enjoy a relaxing stay. 
                <br/>
                However, if you would prefer alternative accommodations, Tulbagh offers an abundant choice for you to choose from in close proximity.
                <br/>
                <br/>
                As we want all our guests to fully enjoy the festivities, we kindly request that this be an adult-only affair. 
                <br/>
                We appreciate your understanding and hope this allows for an evening of uninhibited revelry and celebration. <br/>
                <br/>
                <br/>
                There will be breakfast options available on Saturday and Sunday at R110 each. 
                <br/>
                Please note that breakfast will be charged to your own account and can be requested on the RSVP form. Some accommodation is self-catering and some includes breakfast. 
                <br/>
                <br/>
                The weekend will come to a close on Sunday, with check-out time at 10am.
                <br/>
                <br/>
                Your presence will make our wedding day complete, we will therefore not be compiling a gift registry. 
                <br/>
                If you however wish to honour us with a small gift, cash towards our honeymoon will be gratefully accepted. EFT details are available upon request.
            </p>
            <h4>Please RSVP by 1 August 2023, and if you have any questions or need further assistance, do not hesitate to reach out to us.</h4>
            <div id="maps"></div>
            <p>
                With love and anticipation,
                <br/>Darian & Ashleigh
            </p>
            
        </div>
    </div>

    <img class="decor info-decor" src="assets/e3.svg">
</section>
