<div class="navbar-container">
    <img class="logo" src="../../../../assets/WeddingLogo.svg">

    <div class="menu-container">
        <ul class="menu-list">
            <li class="menu-list-item"><a (click)="onClick('home')">Info</a></li>

            <li class="menu-list-item"><a (click)="onClick('maps')">Map</a></li>

            <li class="menu-list-item"><a (click)="onClick('rsvp')">RSVP</a></li>
        </ul>
    </div>
</div>

<section class="hero-img">
    <img class="header-img" src="../../../../assets/ash&dazz.png">
</section>

<section class="info-container">
    <div id="home">...</div>
    <img class="section-header" src="../../../../assets/WeddingInviteHeadings1.svg">
    <div class="content-container">
        <div class="content details">
            <p>You are joyfully invited to the wedding weekend of</p>
            <h3 class="darianAsh">Darian & Ashleigh</h3>
            <p>13 - 15 October 2023</p>
            <p>Montpellier, Tulbagh</p>
            <p>33°16'29.1″S 19°06'59.8″E</p>
            <h3>Details:</h3>
            <p>
                We welcome you to join us from Friday late afternoon for pre-wedding drinks and dinner.
                
                Breakfast Saturday morning is available on request. 
                
                Our ceremony will start at 15h00 with reception to follow.

                Check out Sunday morning is 10h00.

                Accommodation is available on the farm for guests. We kindly request that you consider the options available, as per the spreadsheet provided. 
                You can alternatively look at the abundant options in close proximity that Tulbagh has to offer. 
                To allow all wedding guests, including parents, a night of celebration and uninhibited revelry, we respectfully ask that no children attend. 
                The bride and groom value your presence more than your presents, and will therefore not be putting a gift registry together. 
                If you wish to honour with a gift, some pennies towards our honeymoon would be gratefully accepted. EFT details available upon request. 
            </p>
            <h4>Please RSVP by latest 01 August 2023.</h4>
            <p>Darian and I look forward to celebrating our love with you.</p>
        </div>
    </div>

    <img class="decor info-decor" src="../../../../assets/e3.svg">

</section>
