.navbar-container {
    display: flex;
    width: 100%;
    position: fixed;
    z-index: 3;
    background: white;
    box-shadow: 2px 2px 3px #adadad;

    .logo {
        width: 215px;
        height: 90px;
        margin: auto auto auto 20px;
    }

    .menu-container {
        display: flex;
        margin-left: auto;

        .menu-list {
            display: flex;
            list-style-type: none;
            margin: auto;

            .menu-list-item {
                margin: 0 15px;

                a {
                    cursor: pointer;

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}

.hero-img {
    .header-img {
        width: 100%;
    }
}

.info-decor {
    right: 0;
}

.details {
    text-align: center;
}

.darianAsh {
    font-family: 'Tangerine', cursive;
    font-size: 2rem;
}

$small: 300px;
$medium: 900px;

@media screen and (min-width: $small) and (max-width: $medium) {
    .navbar-container {
        .logo {
            margin: initial;
            width: 140px;
            margin-left: 20px;
            height: 70px;
        }
        .menu-container {
            margin: initial;

            .menu-list {
                .menu-list-item {
                    a {
                        font-size: 0.8rem;
                    }
                }
            }
        }
    }

    .hero-img {
        .header-img {
            margin-top: 70px;
        }
    }

    .details {
        font-size: 0.9rem;
    }

    .info-decor {
        top: 180px;
    }
}