<div class="navbar-container">
    <img class="logo" src="assets/WeddingLogo.svg">

    <div class="menu-container">
        <ul class="menu-list">
            <li class="menu-list-item"><a (click)="onClick('home')">Info</a></li>

            <li class="menu-list-item"><a (click)="onClick('maps')">Map</a></li>

            <li class="menu-list-item"><a (click)="onClick('rsvp')">RSVP</a></li>
        </ul>
    </div>
</div>

<section class="hero-img">
    <img class="header-img" src="assets/ash&dazz.png">
    <div id="home"></div>
</section>

<section class="info-container">
    <img class="section-header" src="assets/WeddingInviteHeadings1.svg">
    <div class="content-container">
        <div class="content details">
            <p>We are delighted to invite you to the wedding weekend of</p>
            <h3 class="darianAsh">Darian & Ashleigh</h3>
            <p>13 - 15 October 2023</p>
            <p>
                Montpellier, Tulbagh
                <br/>
                33°16'29.1″S 19°06'59.8″E
            </p>
            <h3>Details:</h3>
            <p>
                We welcome you to join us from Friday late afternoon for pre-wedding drinks and dinner.
                <br/>
                <br/>
                Breakfast on Saturday & Sunday morning is available on request, charge for own account. 
                <br/>
                <br/>
                Our ceremony will start at 15h00 with reception to follow. Please note there will be a cash bar with card facilities.
                <br/>
                <br/>
                Check out Sunday morning is 10h00.
                <br/>
                <br/>
                Accommodation is available on the farm for guests. We kindly request that you consider the options available, as per the <a target="_blank" href="https://docs.google.com/file/d/1Hc24Avog1ubAUlfA-QEvzPFQTpTZ0MhN/edit?filetype=msexcel">spreadsheet</a> provided. 
                You can alternatively look at the abundant options in close proximity that Tulbagh has to offer. 
                <br/>
                <br/>
                To allow all wedding guests, including parents, a night of celebration and uninhibited revelry, we respectfully ask that no children attend. 
                <br/>
                <br/>
                The bride and groom value your presence more than your presents, and will therefore not be putting a gift registry together. 
                If you wish to honour with a gift, a cash gift towards our honeymoon would be gratefully accepted. EFT details available upon request. 
            </p>
            <h4>Please RSVP by latest 01 August 2023.</h4>
            <div id="maps"></div>
            <p>Darian and I look forward to celebrating our love with you.</p>
            
        </div>
    </div>

    <img class="decor info-decor" src="assets/e3.svg">
</section>
